@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/all.css";

@layer base {
    /* Hide the actual radio buttons */
    input[name="filter"] {
        display: none;
    }

    /* Style the label's span to look like a button */
    .filter-label .filter-button {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.2s, transform 0.2s;
    }

    /* Highlight the selected radio's label */
    input[name="filter"]:checked + .filter-button {
        background-color: #1c64f2; /* Active background */
        color: white;
        transform: scale(1.05); /* Slightly enlarge */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    /* Add hover effect for unselected labels */
    .filter-label .filter-button:hover {
        background-color: #3b82f6;
        transform: scale(1.02);
    }

    .neumorphism {
        background: linear-gradient(145deg, #FFFFFF, #C1C3C6);
        border-radius: 15%;
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
    }

    .neumorphism-dark {
        background: linear-gradient(145deg, #2C2C2C, #1C1C1C);
        border-radius: 15%;
        box-shadow: 9.91px 9.91px 15px #2C2C2C, -9.91px -9.91px 15px #1C1C1C;
    }

    .neumorphism-light {
        background: linear-gradient(145deg, #FFFFFF, #C1C3C6);
        border-radius: 15%;
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
    }

    .neumorphism-light:hover {
        background: linear-gradient(145deg, #D9DADE, #FFFFFF);
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
    }

    .neumorphism-dark:hover {
        background: linear-gradient(145deg, #1C1C1C, #2C2C2C);
        box-shadow: 9.91px 9.91px 15px #2C2C2C, -9.91px -9.91px 15px #1C1C1C;
    }

    .neumorphism-light:active {
        background: linear-gradient(145deg, #FFFFFF, #C1C3C6);
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
    }

    .neumorphism-dark:active {
        background: linear-gradient(145deg, #2C2C2C, #1C1C1C);
        box-shadow: 9.91px 9.91px 15px #2C2C2C, -9.91px -9.91px 15px #1C1C1C;
    }

    .neumorphism-light:focus {
        background: linear-gradient(145deg, #D9DADE, #FFFFFF);
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
    }

    .neumorphism-dark:focus {
        background: linear-gradient(145deg, #1C1C1C, #2C2C2C);
        box-shadow: 9.91px 9.91px 15px #2C2C2C, -9.91px -9.91px 15px #1C1C1C;
    }

    .neumorphism-light:disabled {
        background: linear-gradient(145deg, #D9DADE, #FFFFFF);
        box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
    }

    .neumorphism-dark:disabled {
        background: linear-gradient(145deg, #1C1C1C, #2C2C2C);
        box-shadow: 9.91px 9.91px 15px #2C2C2C, -9.91px -9.91px 15px #1C1C1C;
    }



}
